.stripe-payment-form {
    .stripe-fields {
        input, .stripe-field {
            @apply appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight;
            @extend .bg-gray-200;

            &:focus {
                @apply outline-none bg-white border-gray-500;
            }
        }
    }

    .error:not(.visible) {
        display: none;
    }

    &.submitted form {
        display: none;
    }
    .loader {
        display: none;
    }
    &.submitting {
        form {
            display: none;
        }
        .loader {
            display: block;
        }
    }
}
