/* Dofus Runes Sprite Sheet */
.rune-icon {
    width: 128px;
    height: 128px;
    background-image: url('../images/dofus_runes_spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.rune-agi-rune { background-position: 0 0; }
.rune-air-dam-rune { background-position: -128px 0; }
.rune-air-res-per-rune { background-position: -256px 0; }
.rune-air-res-rune { background-position: -384px 0; }
.rune-ap-ga-rune { background-position: -512px 0; }
.rune-ap-red-rune { background-position: -640px 0; }
.rune-ap-res-rune { background-position: -768px 0; }
.rune-average-astral-rune { background-position: -896px 0; }
.rune-cha-rune { background-position: -1024px 0; }
.rune-cri-dam-rune { background-position: -1152px 0; }
.rune-cri-res-rune { background-position: -1280px 0; }
.rune-cri-rune { background-position: -1408px 0; }
.rune-dam-ref-rune { background-position: -1536px 0; }
.rune-dam-rune { background-position: -1664px 0; }
.rune-dis-dam-per-rune { background-position: 0 -128px; }
.rune-dis-res-per-rune { background-position: -128px -128px; }
.rune-dod-rune { background-position: -256px -128px; }
.rune-earth-dam-rune { background-position: -384px -128px; }
.rune-earth-res-per-rune { background-position: -512px -128px; }
.rune-earth-res-rune { background-position: -640px -128px; }
.rune-fire-dam-rune { background-position: -768px -128px; }
.rune-fire-res-per-rune { background-position: -896px -128px; }
.rune-fire-res-rune { background-position: -1024px -128px; }
.rune-hea-rune { background-position: -1152px -128px; }
.rune-hunting-rune { background-position: -1280px -128px; }
.rune-ini-rune { background-position: -1408px -128px; }
.rune-int-rune { background-position: -1536px -128px; }
.rune-legendary-astral-rune { background-position: -1664px -128px; }
.rune-loc-rune { background-position: 0 -256px; }
.rune-major-astral-rune { background-position: -128px -256px; }
.rune-marvellous-astral-rune { background-position: -256px -256px; }
.rune-mel-dam-per-rune { background-position: -384px -256px; }
.rune-mel-res-per-rune { background-position: -512px -256px; }
.rune-minor-astral-rune { background-position: -640px -256px; }
.rune-mp-ga-rune { background-position: -768px -256px; }
.rune-mp-red-rune { background-position: -896px -256px; }
.rune-mp-res-rune { background-position: -1024px -256px; }
.rune-neutral-dam-rune { background-position: -1152px -256px; }
.rune-neutral-res-per-rune { background-position: -1280px -256px; }
.rune-neutral-res-rune { background-position: -1408px -256px; }
.rune-pa-agi-rune { background-position: -1536px -256px; }
.rune-pa-air-dam-rune { background-position: -1664px -256px; }
.rune-pa-air-res-rune { background-position: 0 -384px; }
.rune-pa-ap-red-rune { background-position: -128px -384px; }
.rune-pa-ap-res-rune { background-position: -256px -384px; }
.rune-pa-cha-rune { background-position: -384px -384px; }
.rune-pa-cri-dam-rune { background-position: -512px -384px; }
.rune-pa-cri-res-rune { background-position: -640px -384px; }
.rune-pa-dam-ref-rune { background-position: -768px -384px; }
.rune-pa-dod-rune { background-position: -896px -384px; }
.rune-pa-earth-dam-rune { background-position: -1024px -384px; }
.rune-pa-earth-res-rune { background-position: -1152px -384px; }
.rune-pa-fire-dam-rune { background-position: -1280px -384px; }
.rune-pa-fire-res-rune { background-position: -1408px -384px; }
.rune-pa-hea-rune { background-position: -1536px -384px; }
.rune-pa-ini-rune { background-position: -1664px -384px; }
.rune-pa-int-rune { background-position: 0 -512px; }
.rune-pa-loc-rune { background-position: -128px -512px; }
.rune-pa-mp-red-rune { background-position: -256px -512px; }
.rune-pa-mp-res-rune { background-position: -384px -512px; }
.rune-pa-neutral-dam-rune { background-position: -512px -512px; }
.rune-pa-neutral-res-rune { background-position: -640px -512px; }
.rune-pa-pod-rune { background-position: -768px -512px; }
.rune-pa-pow-rune { background-position: -896px -512px; }
.rune-pa-pp-rune { background-position: -1024px -512px; }
.rune-pa-psh-dam-rune { background-position: -1152px -512px; }
.rune-pa-psh-res-rune { background-position: -1280px -512px; }
.rune-pa-str-rune { background-position: -1408px -512px; }
.rune-pa-tra-agi-rune { background-position: -1536px -512px; }
.rune-pa-tra-air-dam-rune { background-position: -1664px -512px; }
.rune-pa-tra-ap-red-rune { background-position: 0 -640px; }
.rune-pa-tra-ap-res-rune { background-position: -128px -640px; }
.rune-pa-tra-cha-rune { background-position: -256px -640px; }
.rune-pa-tra-cri-dam-rune { background-position: -384px -640px; }
.rune-pa-tra-cri-res-rune { background-position: -512px -640px; }
.rune-pa-tra-cri-rune { background-position: -640px -640px; }
.rune-pa-tra-dod-rune { background-position: -768px -640px; }
.rune-pa-tra-earth-dam-rune { background-position: -896px -640px; }
.rune-pa-tra-fire-dam-rune { background-position: -1024px -640px; }
.rune-pa-tra-ini-rune { background-position: -1152px -640px; }
.rune-pa-tra-int-rune { background-position: -1280px -640px; }
.rune-pa-tra-loc-rune { background-position: -1408px -640px; }
.rune-pa-tra-mp-red-rune { background-position: -1536px -640px; }
.rune-pa-tra-mp-res-rune { background-position: -1664px -640px; }
.rune-pa-tra-neutral-dam-rune { background-position: 0 -768px; }
.rune-pa-tra-pod-rune { background-position: -128px -768px; }
.rune-pa-tra-pow-rune { background-position: -256px -768px; }
.rune-pa-tra-psh-dam-rune { background-position: -384px -768px; }
.rune-pa-tra-psh-res-rune { background-position: -512px -768px; }
.rune-pa-tra-spe-rune { background-position: -640px -768px; }
.rune-pa-tra-str-rune { background-position: -768px -768px; }
.rune-pa-tra-vit-rune { background-position: -896px -768px; }
.rune-pa-tra-water-dam-rune { background-position: -1024px -768px; }
.rune-pa-trp-dam-rune { background-position: -1152px -768px; }
.rune-pa-trp-per-rune { background-position: -1280px -768px; }
.rune-pa-vit-rune { background-position: -1408px -768px; }
.rune-pa-water-dam-rune { background-position: -1536px -768px; }
.rune-pa-water-res-rune { background-position: -1664px -768px; }
.rune-pa-wis-rune { background-position: 0 -896px; }
.rune-pod-rune { background-position: -128px -896px; }
.rune-pow-rune { background-position: -256px -896px; }
.rune-pp-rune { background-position: -384px -896px; }
.rune-psh-dam-rune { background-position: -512px -896px; }
.rune-psh-res-rune { background-position: -640px -896px; }
.rune-ra-agi-rune { background-position: -768px -896px; }
.rune-ra-air-res-rune { background-position: -896px -896px; }
.rune-ra-cha-rune { background-position: -1024px -896px; }
.rune-ra-cri-res-rune { background-position: -1152px -896px; }
.rune-ra-earth-res-rune { background-position: -1280px -896px; }
.rune-ra-fire-res-rune { background-position: -1408px -896px; }
.rune-ra-ini-rune { background-position: -1536px -896px; }
.rune-ra-int-rune { background-position: -1664px -896px; }
.rune-ra-neutral-res-rune { background-position: 0 -1024px; }
.rune-ra-pod-rune { background-position: -128px -1024px; }
.rune-ra-pow-rune { background-position: -256px -1024px; }
.rune-ra-psh-dam-rune { background-position: -384px -1024px; }
.rune-ra-psh-res-rune { background-position: -512px -1024px; }
.rune-ra-str-rune { background-position: -640px -1024px; }
.rune-ra-tra-agi-rune { background-position: -768px -1024px; }
.rune-ra-tra-air-dam-rune { background-position: -896px -1024px; }
.rune-ra-tra-ap-red-rune { background-position: -1024px -1024px; }
.rune-ra-tra-ap-res-rune { background-position: -1152px -1024px; }
.rune-ra-tra-cha-rune { background-position: -1280px -1024px; }
.rune-ra-tra-dod-rune { background-position: -1408px -1024px; }
.rune-ra-tra-earth-dam-rune { background-position: -1536px -1024px; }
.rune-ra-tra-fire-dam-rune { background-position: -1664px -1024px; }
.rune-ra-tra-ini-rune { background-position: 0 -1152px; }
.rune-ra-tra-int-rune { background-position: -128px -1152px; }
.rune-ra-tra-loc-rune { background-position: -256px -1152px; }
.rune-ra-tra-mp-red-rune { background-position: -384px -1152px; }
.rune-ra-tra-mp-res-rune { background-position: -512px -1152px; }
.rune-ra-tra-neutral-dam-rune { background-position: -640px -1152px; }
.rune-ra-tra-pod-rune { background-position: -768px -1152px; }
.rune-ra-tra-pow-rune { background-position: -896px -1152px; }
.rune-ra-tra-spe-rune { background-position: -1024px -1152px; }
.rune-ra-tra-str-rune { background-position: -1152px -1152px; }
.rune-ra-tra-vit-rune { background-position: -1280px -1152px; }
.rune-ra-tra-water-dam-rune { background-position: -1408px -1152px; }
.rune-ra-trp-per-rune { background-position: -1536px -1152px; }
.rune-ra-vit-rune { background-position: -1664px -1152px; }
.rune-ra-water-res-rune { background-position: 0 -1280px; }
.rune-ra-wis-rune { background-position: -128px -1280px; }
.rune-range-rune { background-position: -256px -1280px; }
.rune-signature-rune { background-position: -384px -1280px; }
.rune-spe-dam-per-rune { background-position: -512px -1280px; }
.rune-str-rune { background-position: -640px -1280px; }
.rune-sum-rune { background-position: -768px -1280px; }
.rune-tra-agi-rune { background-position: -896px -1280px; }
.rune-tra-air-dam-rune { background-position: -1024px -1280px; }
.rune-tra-air-res-per-rune { background-position: -1152px -1280px; }
.rune-tra-ap-red-rune { background-position: -1280px -1280px; }
.rune-tra-ap-res-rune { background-position: -1408px -1280px; }
.rune-tra-cha-rune { background-position: -1536px -1280px; }
.rune-tra-cri-dam-rune { background-position: -1664px -1280px; }
.rune-tra-cri-res-rune { background-position: 0 -1408px; }
.rune-tra-cri-rune { background-position: -128px -1408px; }
.rune-tra-dis-dam-per-rune { background-position: -256px -1408px; }
.rune-tra-dis-res-per-rune { background-position: -384px -1408px; }
.rune-tra-dod-rune { background-position: -512px -1408px; }
.rune-tra-earth-dam-rune { background-position: -640px -1408px; }
.rune-tra-earth-res-per-rune { background-position: -768px -1408px; }
.rune-tra-fire-dam-rune { background-position: -896px -1408px; }
.rune-tra-fire-res-per-rune { background-position: -1024px -1408px; }
.rune-tra-ini-rune { background-position: -1152px -1408px; }
.rune-tra-int-rune { background-position: -1280px -1408px; }
.rune-tra-loc-rune { background-position: -1408px -1408px; }
.rune-tra-mel-dam-per-rune { background-position: -1536px -1408px; }
.rune-tra-mel-res-per-rune { background-position: -1664px -1408px; }
.rune-tra-mp-red-rune { background-position: 0 -1536px; }
.rune-tra-mp-res-rune { background-position: -128px -1536px; }
.rune-tra-neutral-dam-rune { background-position: -256px -1536px; }
.rune-tra-neutral-res-per-rune { background-position: -384px -1536px; }
.rune-tra-pod-rune { background-position: -512px -1536px; }
.rune-tra-pow-rune { background-position: -640px -1536px; }
.rune-tra-psh-dam-rune { background-position: -768px -1536px; }
.rune-tra-psh-res-rune { background-position: -896px -1536px; }
.rune-tra-spe-dam-per-rune { background-position: -1024px -1536px; }
.rune-tra-spe-rune { background-position: -1152px -1536px; }
.rune-tra-str-rune { background-position: -1280px -1536px; }
.rune-tra-vit-rune { background-position: -1408px -1536px; }
.rune-tra-water-dam-rune { background-position: -1536px -1536px; }
.rune-tra-water-res-per-rune { background-position: -1664px -1536px; }
.rune-tra-wep-dam-per-rune { background-position: 0 -1664px; }
.rune-trp-dam-rune { background-position: -128px -1664px; }
.rune-trp-per-rune { background-position: -256px -1664px; }
.rune-vit-rune { background-position: -384px -1664px; }
.rune-water-dam-rune { background-position: -512px -1664px; }
.rune-water-res-per-rune { background-position: -640px -1664px; }
.rune-water-res-rune { background-position: -768px -1664px; }
.rune-wep-dam-per-rune { background-position: -896px -1664px; }
.rune-wis-rune { background-position: -1024px -1664px; }
.rune-wonderful-astral-rune { background-position: -1152px -1664px; }